* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.dark {
  background-color: #292C35;
  color: white;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + label .ball {
  transform: translateX(100%);
}

.label {
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  height: 26px;
  width: 50px;
  padding: 5px;
  position: relative;
}

.fa-sun {
  color: rgb(235, 22, 22);
}

.fa-moon {
  color: yellow;
}

.ball {
  background-color: white;
  border-radius: 15px;
  height: 21px;
  width: 21px;
  position: absolute;
  transition: transform .2s ease;
}